assets/albedo.png filter=lfs diff=lfs merge=lfs -text
assets/grass_rock_snow_dirt/albedo.png filter=lfs diff=lfs merge=lfs -text
assets/grass_rock_snow_dirt/metal_rough.png filter=lfs diff=lfs merge=lfs -text
assets/grass_rock_snow_dirt/normal.png filter=lfs diff=lfs merge=lfs -text
